
.container {
    width: 100%;
    margin-inline: auto;
    font-family: 'Roboto Mono', monospace;
}

.body {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    
    
}

.number {
    font-size: 1.5em;
    border-right: 1px solid black;
    width: 5ch;
    overflow: hidden;
    color: #333;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;

}
h2 {
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 0.000002em;
}
.fact {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #333;
    margin-left: 0.3em;
    font-size: 1em;
    max-width: 75%;
    margin-right: 3px;

}

