body {
  height: 100vh;
  background: linear-gradient(#9198e5, #213893);
}


input, button {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #333;
  font-size: 1.3rem;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  color: rgb(23, 24, 24);
}



button {
  cursor: pointer;
  transition-duration: 0.5s;
  margin-top: 1em;
}

button:hover {
  background-color: #213893; /* Green */
  color: white;
}


.main {
  width: 90vw;
  margin-inline: auto;
  
}
.header {
  text-align: center;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* .content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  height: 500px;

} */

/* @media only screen and (max-width : 300px) {
  .content {
    display: block;
    font-size: large;
  }
} */
